body {
    font: 24px 'Merriweather', sans-serif;
    line-height: 1.8;
    color: white;
}

h3, h4, h5, h6 {
    font-family: 'Merriweather', sans-serif;
    line-height: 1.5;
}


.english {
    font-family: 'Merriweather', sans-serif;
}

.margin30 {
    margin-bottom: 30px;
}

.bg-1 {
    background-color: white;
    color: black;
}

.bg-2 {
    background-color: white;
    color: black;
}

.bg-3 {
    background-color: white;
    color: black;
}



.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 2px;
    background: black;
}

.dropdown-menu {
    background-color: #F7F7F9; /* Green */
    color: #7B7B7B;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.navbar-nav li > a {
    color: white;
}