body {
    font-size: 100%;
    text-align: center;
}

.p1 {
    font-family: 'Merriweather', serif;
}

.p2 {
    font-family: 'Open Sans', sans-serif;
}

.p3 {
    font-family: 'Montserrat', sans-serif;
}